<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
    <title>Document</title>

    <!--* google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

    <!--* templates -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <!--* own styles -->
    <link rel="stylesheet" href="/css/styles.css">


</head>
<body>
    <!--* HEADER -->
    <header>
        <div class="header">
            <img src="images/logo-mercado-liebre.svg" alt="logo" class="logo">
            <div class="search-bar">
                <input type="search" name="" id="">
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
            <h2>Lorem, ipsum dolor.</h2>
            <div class="nav-subtitle">
                <i class="fas fa-hand-holding-usd"></i>
                <p>Compra en Lorem, ipsum dolor.</p>
            </div>
            <nav>
                <ul class="page-box">
                    <li> <a href="#">Ofertas</a></li>
                    <li> <a href="#">Tiendas Oficiales</a></li>
                    <li> <a href="#">Vender</a></li>
                    <li> <a href="#">Ayuda</a>  </li>
                </ul>
                <ul class="user-box">
                    <li> <a href="#">Crea tu lorem <i class="far fa-id-card"></i></a></li>
                    <li> <a href="#">Ingrelorem<i class="fas fa-key"></i></a></li>
                    <li> <a href="#">lorem<i class="fas fa-cart-arrow-down"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>
    <!--* MAIN -->
    <main>
        <img src="images/img-home-banner.jpg" alt="img" class="banner">
        <section class="main-section">
            <h3 class="discounts-title">WHAT IS LOREM</h3>

            <div class="product">
                <div class="image-product">
                    <img src="images/img-cafetera-moulinex.jpg" alt="img">
                </div>

                <div class="product-info">
                    <div class="total-sale">
                        <div class="first-circle">
                            <i class="fas fa-truck-moving"></i>
                        </div>
                        <p>$6.770</p>
                    </div>
                    <div class="product-discount">
                        <p>40% off lorem</p>
                    </div>
                    <div class="product-name">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>

        </section>
    </main>

    check comments
    <!-- It should be more products, but I won't do that now. I'm expecting more changes to the HTML. keep yourself safe <3-->

    <!--* FOOTER  -->
    <footer>
        <div class="footer-main">

            <div class="section-footer-1">
                <div class="icon">
                    <i class="fas fa-wallet"></i>
                    <p>Lorem ipsum dolor sit.</p>
                </div>

                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, blanditiis!</span>
            </div>

            <div class="section-footer-2">
                <div class="icon">
                    <i class="fas fa-user-circle"></i>
                    <p>Lorem ipsum dolor sit.</p>
                </div>

                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, blanditiis!</span>
            </div>

            <div class="section-footer-3">
                <div class="icon">
                    <i class="fas fa-street-view"></i>
                    <p>Lorem ipsum dolor sit.</p>
                </div>

                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, blanditiis!</span>
            </div>
            <h4 class="copyright">Copyright lorem</h4>
        </div>
    </footer>
</body>
</html>