<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
    <title>Document</title>

    <!--* google -->

    <!--* templates -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <!--* own styles -->
    <link rel="stylesheet" href="/css/subdir/register.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">

</head>
<body>
    <form action="" method="post" class="login">
        <div class="user-name">
            <label for="user-name">
                Nombre de usuario:
                <input type="text" name="user-name" value="user-name">
            </label>
        </div>

        <div class="contrasena">
            <label for="contrasena">
                Contraseña:
                <input type="password" name="contrasena" value="contrasena">
            </label>
        </div>

        <div class="button">
            <a href="/" class="retroceder">
                <i class="fas fa-arrow-left"></i>
                Go back
            </a>
        </div>
    </form>
</body>
</html>