
header {
    background-color: var(--amarillo);
    padding-bottom: 10px;
    font-size: var(--descripciones);
}

.logo{
    width: 50vw;
}

nav {
    display: none;
}

.nav-subtitle {
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-subtitle i {
    margin-right: 3px;
}

li a i {
    margin-left: 3px;
}

.user-box{
    margin-top: 10px;
}

.burger-menu{
    display: flex;
    justify-content: center;
}

.burger-menu i {
    background-color: var(--celeste);
    padding: 10px;
    border-radius: 4px;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

.top-nav {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.search-bar {
    display: flex;
    margin-left: 10px;
}

.search-bar input {
    height: 30px;
    border: none;
    padding: 5px;
    border-radius: 10px 10px;
}

.search-bar button {
    background-color:transparent;
    border:0;
    position: relative;
    left: -20px;
    cursor: pointer;
    z-index: 1;
}

.search-bar button::after{
    content: "";
    position: relative;
    left: -20px;
    border-left: 1px solid var(--gris_oscuro);
    
}

.submit-header{
    margin: 0px;
    padding: 0px;
}

.nav-options {
    display: none;
}

.page-box,
.user-box{
    list-style: none;
}

.page-box li,
.user-box li {
    margin: 0px 3px;
}



@media screen and (min-width: 480px) {
    .burger-menu{
        display: none;
    }
    
    .nav-options{
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        flex-direction: row;
        font-size: 12px;
        margin-top: 5px;
    }

    .page-box,
    .user-box{
        display: flex;
}
}

@media screen and (min-width: 769px){

    .logo {
        max-width: 20vw;
    }

    .top-nav {
        justify-content: space-around;
    }

    .search-bar input {
        width: 25vw;
    }

    .nav-options {
        margin-top: 10px;
        font-size: 14px;
        justify-content: space-around;
    }
    .page-box li,
    .user-box li{
        margin: 0px 10px;
        font-size: 0.9rem;
    }


}
